<h1>Login</h1>
<form action='' class='d-flex flex-column align-items-start gap-2'>
	<label for='GET-email'>Email:</label>
	<input id='GET-email' type='text' name='email' />
	<label for='GET-password'>Contraseña:</label>
	<input id='GET-password' type='text' name='password' />
	<button type='submit' id="loginBtn">Enviar</button>
</form>

<script src="./js/login.js"></script>